<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Eventos</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bienvenido {{ user.username|capfirst }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'eventos:eventoList' %}">Panel</a></li>
{#                        <li><a href="{% url 'users:logout' %}">Salir</a></li>#}
                        <li>Salir</li>
                    </ul>
                </li>
            {% else %}
                <li>Ingresar</li>
{#                <li><a href="{% url 'users:login' %}">Ingresar</a></li>#}
            {% endif %}

        </ul>
    </div>
</div>
<br>
<br>
